* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #111;
  line-height: 1.6;
  width: 80%;
  margin: auto;
  padding-top: 1.5rem;
}

.img-logo {
  height: 2.5rem;
  width: auto;
}

.title {
  padding-top: 3rem;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.navers {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.naver-picture {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.naver-name {
  padding-top: 10px;
  font-weight: bold;
}

.naver-role {
  font-weight: lighter;
  color: #555;
}
